/*Ingredients */
.paragraph {
	margin-top: 10px ; 
	text-align: left ;
	font-family: 'Work Sans', sans-serif; 
	font-weight: bold ; 
    margin-left: 20px; 
}

.almonds {
	text-align: center ;
	font-family: 'Work Sans', sans-serif; 
	font-weight: bold ; 
    margin-left: 10px; 
    color: pink ; 
    border : 5px solid pink ;
    border-width: 100% ; 
    margin-top: 20px; 

}

/*button*/

.videocontent
{ background-color: white ; 
	color: pink  ; 
	border: 5px solid pink  ; 
	margin-top : 10px ;
	margin-bottom : 10px ; 
	margin-left: 30px ; 
 	 }

.videocontent:hover 
{ background-color : pink ;
	color: white  ;  }

	/*footer*/

.footer {
  position: overlay;
  background-color: pink;
  color: black;
  text-align: center; 
  border-width: 100%;
  margin-top: 10px ; 

   }


 .footertext {
 		   font-size: 10px; 
       font-family: 'Work Sans', sans-serif ;
       margin-top: 10px ;
       color : black ;  
 		 	}

.fa {
  font-size: 10px;
  width: 20px;
  margin-right: 5px ; 
  text-align: right; 
  text-decoration: none;
  color: black ; 
  font-family : 'Work Sans', sans-serif;
}

.fa:hover {
  opacity: 0.7;
}